CHANGELOG.md
Dockerfile
LICENSE
README.md
prototypes
.wordlist.txt
CODE_OF_CONDUCT.md
.DS_Store
.dockerignore
.editorconfig
.github
.github/ISSUE_TEMPLATE.md
.github/PULL_REQUEST_TEMPLATE.md
.github/auto_assign.yml
.github/dependabot.yml
.github/renovate.json
.github/workflows
.github/workflows/markdownlint.yml
.github/workflows/publish.yml
.github/workflows/spellcheck.yml
.gitignore
.markdownlint.json
.spellcheck.yml
.stevedoreignore
.yakignore
.yaksums.json
CONTRIBUTING.md
_config.yml
assets
assets/ebirah_by_zappazee.png
!cpanfile
!cpanfile.snapshot
dictionary.dic
ebirah.code-workspace
