name: Continuous Integration (CI)

on: [push, pull_request]

jobs:
  documentation:
    name: Check documentation integrity and spelling
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    
    - name: Check spelling in Markdown files
      uses: rojopolis/spellcheck-github-actions@6f2326b663e2dbab920da0fc4144b9f3202434ba # 0.54.0
      
    - name: Check Markdown files using Markdownlint
      uses: nosborn/github-action-markdown-cli@508d6cefd8f0cc99eab5d2d4685b1d5f470042c1 # v3.5.0
      with:
        files: .
        config_file: ".markdownlint.json"
